*, ::after, ::before {
  margin: 0;  
}

body{

    font-size:110%;
    font-family: Helvetica, sans-serif;

  }

  #example2 {
    display: flex;
    justify-content:space-evenly;
  }

  #example2 button {
    width:100%;
  }
  
  header {
    text-align: center;
    background-color: rgb(240, 240, 240);
  }
  
  footer {
    padding-top: 30px;
    background-color: rgb(43, 43, 43);
    color: whitesmoke;
    text-align: center;
    border: black solid;
  }

  /* Diplays main divs on 1 line */

  #container {
    display: flex;
    flex-direction: row;


    background-color: rgb(175, 53, 53);
    border: black solid;
    margin-top: 30px;
  }

  /* Makes Aside take 20% of width and Main take up 80% */

  #main {
    /*width: 80%;*/
    flex: 4;
  }
  
  #nav {
    /*width: 20%;*/
    padding-left: 10px;
    padding-top: 10px;
    flex: 1;
  }

  /* Sections inside of Main */

  .section {

    background-color: rgb(187, 66, 66);
    /*border: solid black 5px;*/

    padding: 15px;
    margin-bottom: 20px;

  }

  ul {
    list-style: none;
    color: rgb(255, 255, 255);
    padding-left: 0;
  }

  .li__text {
    color: rgb(216, 216, 216);
  }

  .link {
    color: rgb(199, 56, 56);
  }

  .icon {

    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-right: 30px;

    border-radius: 50%;

  }

  #nav {
    background-color: rgb(0, 0, 0);
    color: rgb(218, 218, 218);
    border: solid black;
  }


/*
  #main {
    background-color: red;
  }*/

  
