body{
    font-family: sans-serif;
    font-size:110%;
    background-color: blueviolet;
  }
  
  header {
    text-align: center;
  }
  
  footer {
    background-color: #919191;
    text-align: center;
  }